<div class="card">
    <div class="card-body">
        <h5 class="titulo">
            Listar Tarjeta
        </h5>
        <table class="table">
            <thead>
                <tr>
                  <th>titular</th>
                  <th>Numero de Tarjeta </th>
                  <th>fecha Expiracion</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <i class="fas fa-edit fa-lg text-warning mr-5" ></i>
                        <i class="fas fa-trash-alt fa-lg text-danger " ></i>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
