<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">
          {{titulo}}
        </h5>
        <form [formGroup]="numero" (ngSubmit)="guardarNumero()">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">☑</span>
                <input type="number" formControlName="numero"  class="form-control" placeholder="numero" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-success btn-lg" type="submit">Aceptar</button>
              </div>
        </form>
    </div>
</div>
